.main-hero-container{
    width: 1290.9615478515625px;
height: 700px;
angle: 0 deg;
opacity: 1;
margin-top: 60px;
margin-left: 129px;
 /* border: 2px solid black; */
 display: flex;

}
.left-soical-image{
    width: 225.76390075683594px;
height: 326.5838623046875px;
angle: 0 deg;
opacity: 1;
margin-top: 20.93px;
margin-left: 39px;
/* border: 2px solid black; */


}
.image-left{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-container{
    width: 594.2064208984375px;
height: 290px;
angle: 0 deg;
opacity: 1;
margin-top: 40px;
margin-left: 100px;
/* border: 2px solid black; */
flex-direction: column;

}
.text-container h1{
    width: 578px;
height: 45px;
angle: 0 deg;
opacity: 1;
/* top: 160px;
left: 431px; */
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 38px;
leading-trim: NONE;
line-height: 45px;
letter-spacing: 0px;
text-align: center;

}
.text-container h2{
    width: 459px;
height: 45px;
angle: 0 deg;
opacity: 1;
 margin-top: 10px;
/* left: 491px; */
margin-left: 60px; 
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 38px;
leading-trim: NONE;
line-height: 45px;
letter-spacing: 0px;
text-align: center;
color: rgba(237, 19, 19, 1);



}
.text-container p{
    width: 594.2064208984375px;
height: 75px;
angle: 0 deg;
opacity: 1;
/* top: 262px;
left: 423px; */
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
color: rgba(0, 0, 0, 0.6)
;
}
.left-soical-image2{
   width: 258.4693298339844px;
height: 326.95269775390625px;
angle: 0 deg;
opacity: 1;
margin-left: 60px;
margin-top: 22px;
/* border: 2px solid black; */



}
.image-right{
     width: 100%;
    height: 100%;
    object-fit: cover;

}

   .text-container form {
    display: flex; /* keeps input and button in one line */
    /* adjust spacing from top */
    margin-top: 100px;
  }

  .lableemail {
    width: 400px;
    height: 56.5px;
    border: 2px solid black;
    border-right: none; /* removes right border so it merges with button */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
  }

  .signupbutton {
    width: 140px;
    height: 57px;
    border: 2px solid black;
    border-left: none; /* removes left border so it merges with input */
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: rgba(237, 19, 19, 1);

  }
.or-dividers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-top: 20px;
  width: 50%;
}

.or-dividers::before,
.or-dividers::after {
  content: "";
  flex: 1;
  border-bottom: 0.7px solid rgba(0, 0, 0, 1);
  margin: 0 5px;
}

.or-dividers span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.google-button-box{
    width: 400px;
height: 60px;
angle: 0 deg;
opacity: 1;
margin-top: 40px;
margin-left: 90px;
border:2px solid black;
border-radius: 45px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 1);
display: flex;


}
.google-button-box img{
    width: 30px;
height: 30px;
angle: 0 deg;
opacity: 1;
margin-top: 15px;
margin-left: 70px;

}
.google-button-box button {
  border: none;         
  background: none;    
  outline: none;        
  cursor: pointer;     
  
  width: auto;           
  height: auto;
  margin-top: 8px;
  margin-left: 35px;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;           
}



  