.main-container-fgpassword {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form-container {
  width: 650px;
  height: auto;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px 0 50px 0;
  z-index: 2;
  text-align: center;
}

.form-container h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  font-family: Poppins, sans-serif;
}

.form-container label {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.form-container input {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  transition: border 0.3s ease;
}

.form-container input:focus {
  border-color: rgba(237, 19, 19, 1);
  box-shadow: 0 0 4px rgba(237, 19, 19, 0.5);
}

.fgpassword-btn {
  margin-top: 20px;
  padding: 12px;
  background: rgba(237, 19, 19, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fgpassword-btn:hover {
  background-color: rgba(200, 15, 15, 1);
}
