.password-change-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.password-change-box {
  width: 600px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
}

.password-change-box h1 {
  font-size: 26px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.password-change-box p {
  font-size: 16px;
  color: #333;
  margin-bottom: 40px;
}

.ok-btn {
  background: rgba(237, 19, 19, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 12px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ok-btn:hover {
  background-color: rgba(200, 15, 15, 1);
}
