.reset-password-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.reset-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  opacity: 0.8;
  z-index: -1;
}

.reset-password-box {
  width: 600px;
  min-height: 450px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  z-index: 2;
}

.reset-password-box h1 {
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 30px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 15px;
  text-align: left;
  font-family: Poppins, sans-serif;
}

.reset-password-form label {
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.reset-password-form input {
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  transition: border 0.3s ease;
}

.reset-password-form input:focus {
  border-color: rgba(237, 19, 19, 1);
  box-shadow: 0 0 4px rgba(237, 19, 19, 0.4);
}

.error-text {
  font-size: 13px;
  color: rgba(237, 19, 19, 1);
  margin-top: -8px;
  text-align: left;
}

.reset-btn {
  margin-top: 25px;
  padding: 12px;
  background: rgba(237, 19, 19, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: rgba(200, 15, 15, 1);
}
